ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}



#allwrap{
    width:100%;
    display: flex;
    flex-direction: column;
}

#topwrap{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	position: fixed;
    top: 0;
    z-index: 98;
	
}

#topmenu{
	width:90%;
	margin: 20px;
	height:80px;
	display: flex;	
	flex-direction: row;
	align-items: center;
    justify-content: space-between;
}


#topmenu>div>img{
	width: 250px;
}

#submenu{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-right: 25px;
}

#submenu>div{
	height:20px;
	display: flex;
	align-items: center;

}

#search{
	width: 180px;
	border:1px solid lightpink;
	background:rgba(255,255,255,0.7);
	display: flex;
	justify-content: space-between;
	margin: 0 5px;
	margin-right: 15px;
	padding: 2px;
	border-radius: 5px;
}

#memberpage{
	margin-right: 5px;
	font-size: 12px;
}


#menubar{
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-top: 1px solid #ebe1e7;
    border-bottom: 1px solid #cda9a9;
    background: white;
    z-index: 99;
    box-shadow: 0 4px 4px -4px #ac9a9a;
}



.top_sub{
	display: flex;
	font-weight: bold;
	color: #ED167E;
	padding: 20px 0;
}

.top_sub>li{
	width:130px;
	text-align: center;
}

.top_sub>li>ul{
	font-size: 13px;
	margin-top: 15px;
    margin-bottom: 40px;
	color: grey;
	font-weight: lighter;
}

.top_sub>li>ul>li{
	margin-top:3px;
	margin-bottom: 3px;
}

.hide_menu{
	display:none;
}

#mainwrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 800px;
	padding-top: 200px;
	background: linear-gradient(to top, transparent, #ffe6ec) 98%;
}

#mainwrap>div{
	display: flex;
}

#events{
	width: 800px;
	height: 600px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}

#events>i{
	position: absolute;
	font-size: 80px;
	opacity: 0.6;
	color: #ff9b9b;
	top: 45%;
	cursor:pointer;
}

#events>ul{
	width: 800px;
	height: 600px;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
}


#events>ul>li>img{
	width: 800px;
	height: 600px;
}

#events>div{
	display: flex;
	flex-direction: row;
	position: absolute;
  	bottom: 5%;
    right: 5%;
    color: #ff9b9b;
}

#events>div>i{
	margin-left: 5px;
	margin-right: 5px;
	cursor:pointer;
}



#products{
	flex-direction: row;
}

#products>div{
	background: lightgreen;
	border:1px solid grey;
}

#footwrap{
	width:100%;
	height: 100px;
	background: white;
	display: flex;
}