<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybtis.org/DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
<typeAliases>
	<typeAlias alias="memberVO" type="com.spacespace.laika.domain.MemberVO"/>
	<typeAlias alias="noticeVO" type="com.spacespace.laika.domain.NoticeVO"/>
</typeAliases>

</configuration>
